/* CSS Variables */
:root {
    --background-color: #481f77;
    --text-color: #F8F8FF;
    --link-color: #fff4d4;
    --link-visited-color: #F5E616;
    --secondary-color: #3b3bfa;
}

* {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    font-size: 16px;
}

h1, h2, h3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2.5rem;
}

p, li {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.3;
    font-size: 1.3em;
}

#icon {
    width: 18%;
    margin-top: 5px;
}

:is(.social ul, nav ul, .skills ul) {
    list-style-type: none;
}

nav {
    background-color: var(--secondary-color);
    font-size: 1.2em;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    gap: 5%;
    align-items: center;
}

nav ul a {
    text-decoration: none;
}

#nav-button {
    display: none;
}

.intro {
    text-align: center;
    padding: 0 5%;
    font-size: 1.5em;
}

main {
    margin: 0 5%;

    & h2 {
        text-align: center;
        margin-top: 5%;
    }
}
/* uses CSS nesting */
#about {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 20px;
    justify-items: center;
    margin: 5% auto 0 auto;
    column-gap: 5%;

}

#about img {
    margin: auto;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
}


#contact a, #git a {
    display: flex;
    font-size: 1.1em;
    flex-wrap: wrap;
    text-decoration: none;
    justify-content: center;
    border: 1px solid var(--link-color);
    background-color: var(--link-color);
    color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    width: 110px;
}

/* uses CSS nesting */
.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & article {
        max-width: 450px;
    }

    & ul {
        padding: 0;
    }

    & li {
        padding-bottom: 1px;
    }
}

/* uses CSS nesting */
#projects section {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & figure img {
        width: 80%;
    }
}


/* uses CSS nesting */
footer {
    display: grid;
    background-color: var(--secondary-color);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 3%;

    & p {
        margin: auto;
    }
}

#logo {
    width: 30%;
    margin: 2% auto 0 auto;
}

.social ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
    padding: 0;
}

a:link,
a:visited {
    color: var(--link-color);
}

a:hover,
a:focus {
    color: var(--link-visited-color);
    font-weight: bold;
}

/* Mobile Devices */
@media only screen and (max-width: 1200px) {
    main {
        margin: 0 15%;
        text-align: center;
    }

    #icon {
        width: 12%;
    }

    .nav-menu {
        position: fixed;
        background-color: var(--secondary-color);
        width: 100%;
        transform: translateX(100%);
        transition: transform .3s;
        z-index: 900;
    }

    nav ul {
        display: block;
    }

    nav li {
        margin-bottom: 3%;
        text-align: center;
    }

    /* Cause navigation menu to appear and disappear when hamburger is clicked */
    .nav-menu[data-visible="true"] {
        transform: translateX(0%);
        margin-top: 60px;
    }

    nav a:link,
    nav a:visited {
        color: var(--link-visited-color);
        scroll-snap-align: start none;
        scroll-margin-right: -20px;

    }

    /* For changing from hamburger to close button */
    #nav-button .line {
        transition:
            y 200ms ease-in 200ms,
            rotate 200ms ease-in,
            opacity 0ms 200ms;
        transform-origin: center;
        fill: #fff;
    }

    #nav-button[aria-expanded="true"] .line {
        transition:
            y 200ms ease-in,
            rotate 200ms ease-in 200ms,
            opacity 0ms 200ms;
    }

    #nav-button[aria-expanded="true"] :is(.top, .bottom) {
        y: 45;
    }

    #nav-button[aria-expanded="true"] .top {
        rotate: 45deg;
    }

    #nav-button[aria-expanded="true"] .middle {
        opacity: 0;
    }

    #nav-button[aria-expanded="true"] .bottom {
        rotate: -45deg;
    }

    header button {
        cursor: pointer;
        background: transparent;
        border: none;
    }

    #nav-button {
        display: flex;
        margin-left: auto;
        padding-right: 5%;
    }

    #about img {
        display: block;
        margin: auto;
    }

    .intro {
        margin: 0 auto;
    }

    .intro > h1, .intro > h2 {
        font-size: 1.2em;
    }

    #about {
        display: block;
        background-color: var(--background-color);
    }

    .skills {
        flex-direction: column;    
        align-content: center;   
    }

    #git a {
        display: block;
        margin: 40px auto;
    }

    #projects section {
        display: block;
    }

    #projects ul {
        text-align: left;
        margin-bottom: 8%;
    }

    .skills ul {
        margin: 0;
        padding: 0;
    }

    #projects figure img {
        width: 90%;
    }

    .social ul {
        gap: 7%;
        margin-bottom: 10%;
    }
}

@media only screen and (max-width: 800px) {
    #contact {
        flex-direction: column;
    }
}
